[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/arduino-LoRa"]
	path = components/arduino-LoRa
	url = https://github.com/lora-cascade/arduino-LoRa.git
